# Dependencies are installed manually or using a build process, so they
# can benefit from machine-specific compiling, etc.
node_modules

# Minor updates for dependencies, including security patches, should be
# installed immediately, instead of being locked down.
package-lock.json

# Environment files may contain sensitive data.
.env

# Build artifacts are unique to each developer.
public

.cache
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
